<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Route</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="" method="post"></form>
    <div class="container">
        <form class="login-form" action="/login" method="POST">
            <h2 class="heading">Sign In</h2>
            <input type="text" class="input" name="email" placeholder="Email" >
            <input type="password" class="input" name="password" placeholder="Password" >
            <button type="submit" class="btn">Sign In</button>
            <div class="row"> 
            <label class="checkbox"><input type="checkbox"> Remember me</label>
            <a href="#" class="forgot-pass">Forgot Password?</a>
            <br><br>
            <p class="signUp"><a href="/register">Create an Account</a></p>
            </div>
        </form>
        <p class="signUp"><a href="/">Explore </a></p>
    </div>
</body>
</html>